In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel('Superstore Database.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                8399 non-null   int64
 1   Order ID              8399 non-null   int64
 2   Order Date            8399 non-null   datetime64[ns]
 3   Order Priority        8399 non-null   object
 4   Order Quantity        8399 non-null   int64
 5   Sales                 8399 non-null   float64
 6   Discount              8399 non-null   float64
 7   Ship Mode             8399 non-null   object
 8   Profit                8399 non-null   float64
 9   Unit Price            8399 non-null   float64
 10  Shipping Cost         8399 non-null   float64
 11  Customer Name         8399 non-null   object
 12  Province              8399 non-null   object
 13  Region                8399 non-null   object
 14  Customer Segment      8399 non-null   object
 15  Product Category      8399 non-null   object
 16  Product Sub-Category  8399 non-null   object
 17  Product Name          8399 non-null   object
 18  Product Container     8399 non-null   object
 19  Product Base Margin   8336 non-null   float64
 20  Ship Date             8399 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(3), object(10)
memory usage: 1.3+ MB

In [4]:
df.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.2500,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,457.8100,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,2012-10-01,High,27,244.5700,0.01,Regular Air,46.7075,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03
3,80,483,2011-07-10,High,30,4965.7595,0.08,Regular Air,1198.9710,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12
4,85,515,2010-08-28,Not Specified,19,394.2700,0.08,Regular Air,30.9400,21.78,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30

In [5]:
# columns check
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

In [9]:
# Drop null values
df.dropna(inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8336 entries, 0 to 8398
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                8336 non-null   int64
 1   Order ID              8336 non-null   int64
 2   Order Date            8336 non-null   datetime64[ns]
 3   Order Priority        8336 non-null   object
 4   Order Quantity        8336 non-null   int64
 5   Sales                 8336 non-null   float64
 6   Discount              8336 non-null   float64
 7   Ship Mode             8336 non-null   object
 8   Profit                8336 non-null   float64
 9   Unit Price            8336 non-null   float64
 10  Shipping Cost         8336 non-null   float64
 11  Customer Name         8336 non-null   object
 12  Province              8336 non-null   object
 13  Region                8336 non-null   object
 14  Customer Segment      8336 non-null   object
 15  Product Category      8336 non-null   object
 16  Product Sub-Category  8336 non-null   object
 17  Product Name          8336 non-null   object
 18  Product Container     8336 non-null   object
 19  Product Base Margin   8336 non-null   float64
 20  Ship Date             8336 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(3), object(10)
memory usage: 1.4+ MB

In [12]:
# Generate new column called year from order date
df['Year'] = df['Order Date'].dt.year

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8336 entries, 0 to 8398
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                8336 non-null   int64
 1   Order ID              8336 non-null   int64
 2   Order Date            8336 non-null   datetime64[ns]
 3   Order Priority        8336 non-null   object
 4   Order Quantity        8336 non-null   int64
 5   Sales                 8336 non-null   float64
 6   Discount              8336 non-null   float64
 7   Ship Mode             8336 non-null   object
 8   Profit                8336 non-null   float64
 9   Unit Price            8336 non-null   float64
 10  Shipping Cost         8336 non-null   float64
 11  Customer Name         8336 non-null   object
 12  Province              8336 non-null   object
 13  Region                8336 non-null   object
 14  Customer Segment      8336 non-null   object
 15  Product Category      8336 non-null   object
 16  Product Sub-Category  8336 non-null   object
 17  Product Name          8336 non-null   object
 18  Product Container     8336 non-null   object
 19  Product Base Margin   8336 non-null   float64
 20  Ship Date             8336 non-null   datetime64[ns]
 21  Year                  8336 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(4), object(10)
memory usage: 1.5+ MB

In [14]:
df.to_csv('clean_superstore.csv', index=False, encoding='utf-8-sig')

In [17]:
df.Region.unique()

array(['Nunavut', 'Northwest Territories', 'Atlantic', 'Prarie', 'West',
       'Ontario', 'Quebec', 'Yukon'], dtype=object)

In [18]:
df.Province.unique()

array(['Nunavut', 'Northwest Territories', 'Prince Edward Island',
       'Manitoba', 'British Columbia', 'Nova Scotia', 'Ontario',
       'Newfoundland', 'Quebec', 'New Brunswick', 'Saskachewan', 'Yukon',
       'Alberta'], dtype=object)